

/* This file feeds register.htlm with styles */


.main-login-container{
    display: flex;
    width: 100%;
    height: 92vh;
    position: relative;
    top: 8vh;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-color: white;
}

#login-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    padding: 2vh 2vw ;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
}

#login-logo{ 
  height: 9.5vh;
  width: auto;
  align-self: center;
  margin-bottom: 1rem;
}

.login-containers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 42vh;
}

.login-containers p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-containers input{
    height: 5vh;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

.submit-button{
    height: 2.5vw;
    color: white;
    background-color: #6D07E6;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.login-help{
    display: flex;
    padding: 0.5rem;
    justify-content: space-evenly;
}
.login-help a{
    text-decoration: none;
    font-size: 10px;
}

#password-helper{
    font-size: 10px;
}

#stay-tunned-container{
    width: 1rem;
    height: 1rem;
}

#stay-tunned-text{
    font-size: 10px;
    margin-bottom: 4px;
    align-self: center;
}
video{
    display: none;
}
@media (min-width: 760px) {

    .main-login-container{
        /*background-image: url("../img/nft-login&register-background.jpg");
        background-position: center; //Center the image 
        background-repeat: no-repeat; //Do not repeat the image 
        background-size: cover;  //Resize the background image to cover the entire container */
        opacity: 0.9;
    }

    article#login-box{
        width: 40vw;
        justify-self: flex-end;
    }

    .login-containers{
        height: auto;
        width: 100%;
    }
     .login-containers input{
        width: 75%;
    } 

    video{
        display: flex;
        object-fit: cover;
        width: 100vw;
        height: 92vh;
        position: fixed;
        top: 8vh;
        left: 0;
        z-index: -10;
    }
}