body {
  overflow-x: hidden;
  max-width: 100vw;
}

main {
  margin-top: 8vh;
}

#main-product-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


section#main_banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  margin-top: 12vh;
}

div#main_banner_featured {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  
}

div.welcome_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-self: center;
  justify-content: left;
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

div.welcome_text h1 {
  color: #6d07e6;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

div.welcome_text a.main_banner_button {
  width: 40%;
  max-width: 10rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.2rem;
}

div.welcome_text a.main_banner_button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.welcome_text a#main_banner_to_market {
  color: white;
  background-color: #6d07e6;
  margin-right: 0.2rem;
}

div.welcome_text a#main_banner_to_create {
  color: #a193f1;
  border: 1px solid #a193f1;
  background-color: white;
  margin-left: 0.2rem;
}

div.welcome_text p {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color: #444444;
  text-align: left;
}

div.welcome_text h1{
  text-align: left;
}

a{
  text-decoration: none;
}

div#main__featured_artist {
  order: -1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 0.5rem;
  border: 1px solid #4444;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 10px;
  width: 75%;
}

img#main_featured_img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}

div#main_banner_featured_description {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

div#fakeimage {
  display: block;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-color: #444444;
  color: #44444400;
  justify-self: flex-start;
  margin-right: 4vw;
}

section#setup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(transparent, #a193f1);
  width: 100vw;
  padding: 0rem 0 2rem 0;
}

section#setup h2 {
  margin-top: 2em;
  color: #444444;
  margin: 0 2em 2em 2em;
  text-align: center;
}

div#faqs_conteiner {
  width: 80vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

article.setup_steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  margin-bottom: 2rem;
  max-width: 25rem;
}

p.setup_steps_title {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p.setup_steps_description {
  text-align: center;
}

#author {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  flex-direction: column;
  border: black solid 1px;
  width: 70%;
  padding: 0.5rem;
  margin: 0.3rem;
}

#artist_jobs {
  display: flex;
  flex-wrap: wrap;
  text-align:start;
  flex-direction: column;
  align-content: center;
  justify-content: center ;
  overflow: auto;
  white-space: nowrap;
  width: 90%;
  height:22em;
  margin: 0.5rem;
  
}



div#author img{
  width: 75%;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-card
{
  height:22em;
  width:15em;
  margin: 0.6rem;
  display:flex;
  flex-direction:column;
  border-radius:0.3rem;
  border: 1px solid #c3c3c3;
}
.property-card:hover{
  box-shadow: #7e42c74d 0px 0px 10px;

}
.property-card a{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.property-image{ 
  display: flex;
  height:14rem;
  width: 13.5rem;
  border-radius:0.4rem;
  max-width: 100%;
  overflow: hidden;

}

.property-image img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

}

/* Bottom Card Section */

.property-description{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
  height:5rem;
  bottom:0em;
  padding: 1rem;
}

.piece-description{
  width: 60%;
  justify-self: flex-start;
}

.piece-price{
  width: 40%;
  justify-self: flex-end;
  text-align: end;
}

.price-changer{
  display: flex;
  justify-content: flex-end;
}

.price-changer i{
  margin-right: 0.2rem;
  color: #A193F1;
}
.property-description h5{
  margin:0px;
  font-size:0.85rem;
  font-weight:bold;
  color: #6D07E6;
}

.property-description p{
  font-size:0.85rem;
  max-width: 100%;
  text-overflow: ellipsis;
  color: black;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */






img#author {
  height: 40%;
  width: auto;
  align-self: center;
}

#price_and_author_conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 90%;
  text-align: left;
  white-space: nowrap;
}
#artist_jobs_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #6d07e6;
  font-weight: bold;
  width: 100%;
}
@media (min-width: 760px) {
  section#main_banner {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }

  div.welcome_text{
    padding: 5rem;
  }

  #artist_jobs {
    width: 60%;
    align-self: center;
    align-content: flex-start;
  }

  

  #price_and_author_conteiner {
    width: 60%;
    align-self: center;
  } 

}